:coffeescript
  tileEditor = new Pixie.Editor.Tile.Views.Editor({})

  tileEditor.el.appendTo($('body'))

.welcome
  %h1 Middleman is Watching
  %p.doc
    = link_to "Read Online Documentation", "http://middlemanapp.com/"
